/* src/components/Button/Button.css */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: inherit;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
}

.button-primary:hover {
  background-color: var(--secondary-color);
}

.button-danger {
  background-color: var(--primary-danger-color);
  color: var(--primary-background-color);
}

.button-danger:hover {
  background-color: var(--secondary-danger-color);
}

.button-success {
  background-color: var(--primary-success-color);
  color: var(--primary-background-color);
}

.button-success:hover {
  background-color: var(--secondary-success-color);
}

.button-warning {
  background-color: var(--primary-warning-color);
  color: var(--primary-background-color);
}

.button-warning:hover {
  background-color: var(--secondary-warning-color);
}

.button.is-disabled {
  background-color: var(--disabled-background-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}
