/* src/pages/chatPage.css */
.chat-layout {
  display: flex;
  height: 100%;
  background-color: var(--primary-background-color);

  .chat-list-container-loading,
  .chat-list-container-error {
    width: 300px;
    border-right: 1px solid var(--primary-border-color);
  }

  .chat-list-container-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chat-list-container-error {
    padding: 20px;
  }
}