.ant-layout {
  .admin-logo-vertical {
    height: 32px;
    margin: 16px;
    background: var(--primary-color);
    border-radius: 6px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
  }
  .ant-layout-sider {
    background: var(--primary-color);
    .ant-layout-sider-trigger {
      background: var(--primary-color);
      border-right: 1px solid var(--border-color);
    }
    .ant-menu {
      background: var(--primary-color);
      border-right: 0;
      .ant-menu-item {
        color: var(--secondary-background-color) !important;
        .ant-menu-item-selected {
          background: var(--secondary-color);
          color: var(--secondary-background-color);
          .ant-menu-submenu-title {
            color: var(--secondary-background-color);
          }
        }
      }
    }
  }
  .admin-site-layout {
    display: flex;
    flex-direction: column;
    .admin-layout-header {
      background-color: var(--primary-color);
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-app-region: drag;
    }
    .admin-layout-content {
      flex: 1;
      .admin-layout-content-background {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 24px;
        background: var(--secondary-background-color);
        height: calc(
          100vh - 64px - 48px - 69px
        ); /* Header - Breadcrumb - Footer */
      }
    }
  }
}

/* ant-design table 高度自适应 */
.ant-table-wrapper {
  position: relative;
  height: 100%;
  min-height: 0;
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      .ant-table {
        height: 100%;
        overflow: hidden;
        .ant-table-content {
          height: 100%;
          overflow: auto;
        }
        .ant-table-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: hidden;
          .ant-table-body {
            flex: 1;
            overflow: auto !important;
          }
        }
      }
    }
  }
}