/* 添加好友面板 */
.add-friend-panel {
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  .panel-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  /* 搜索用户框 */
  .search-user-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;

    input {
      padding: 12px 12px 12px 40px !important;
    }
  }

  /* 搜索状态指示器 */
  .searching-indicator {
    display: flex;
    align-items: center;
    padding: 10px;

    .loading-dot {
      width: 12px;
      height: 12px;
      background-color: var(--primary-color);
      border-radius: 50%;
      margin-right: 8px;
      animation: pulsate 1.5s infinite;
    }
  }

  .no-results {
    padding: 20px;
    text-align: center;
    color: var(--secondary-text-color);
  }

  /* 用户搜索结果 */
  .search-results {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .user-result-item {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 8px;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: var(--third-background-color);
        box-shadow: var(--primary-box-shadow);
      }

      .user-info {
        flex: 1;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .user-info-top {
          display: flex;
          align-items: center;
          gap: 5px;

          .user-name {
            font-weight: 700;
          }

          .user-type {
            font-size: var(--small-font-size);
            padding: 2px 4px;
            border-radius: 4px;
            background-color: var(--primary-color);
            color: var(--primary-background-color);
          }
        }

        .user-info-bottom {
          .user-id {
            color: var(--secondary-text-color);
          }
        }
      }
    }
  }

  .selected-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }

  .message-help {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.3;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}
