/* src/components/CustomHeader.css */
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background); /* 设置你想要的背景色 */
  color: var(--active-text-color); /* 设置文字颜色 */
  padding: 15px 15px;
  height: 60px; /* 设置头部高度 */
  -webkit-app-region: drag; /* 允许拖动窗口 */
}

.custom-header-left {
  font-size: 16px;
}

.custom-header-right {
  display: flex;
  align-items: center;
}

.window-controls {
  display: flex;
}

.window-controls button {
  color: var(--active-text-color);
  appearance: none;
  background: none;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag; /* 禁止拖动按钮 */
}

.window-controls button:hover {
  background-color: var(--active-text-color); /* 鼠标悬停时的背景色 */
  color: var(--header-background); /* 鼠标悬停时的文字颜色 */
}

.window-icon {
  width: var(--normal-icon-size);
  aspect-ratio: 1;
  color: currentColor; /* 使用当前颜色 */
}

/* 可以根据你的原型图添加更多样式 */
